body {
    background-color: antiquewhite;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    position: absolute;
    top: 25%;
    left: 37.5%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    position: absolute;
    left: 45%;
}

#table2 {
    position: absolute;
    left: 46.5%;
    bottom: 20%
}

table,
th,
td {
    border: solid 1px;
    border-color: gray;
}

#score{
    text-align: center;
}

tr{
    text-align: center;
}

#result {
    color: green;
}

#result2 {
    color: red;
}
.life1, .life2, .life3{
    height: 100px;
    width: 100px;
}